{% extends 'base.html' %}
{% load static %}
{% block logo %}USER FORM{% endblock logo %}
{% block body %}

<!-- Internal or Embedded CSS -->
  <style>
    body{
      background-color:  rgb(22, 20, 48);
    }
    .userform{
      box-shadow: 0 0 6px;
      color: #00fb87;
      padding: 3px;
      padding:6px 10px;
    }

    .card{
        width: 600px;
        background-image: url("{% static 'images/typi.jpg' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 10px white;
        color: white;
        margin-bottom: 1rem;
        
    }
    .cont{
        display: flex;
        justify-content: center;
    }

    .form-control{
      background-color: transparent;  
      color: white;
      border-style: solid;  
      border-width: 0px 0px 2px 0px;  
      border-color: rgb(230, 230, 230); 
      outline:0; 
    }
  
    .btn-outline-success{
      color: #cddc39;
      margin-top: 3rem !important;
    }
    .btn:hover{
      background-color: #586103;
    }
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
   
</style>
<!-- Internal or Embedded CSS END -->


<div class="container cont pt-5 pb-5">

  <div class="card p-5">
      <div class="container ">
        <img src="{% static 'gifs/load.gif' %}" class="mb-4 center" id="gif" style="display: none ;width: 100px;height: 80px;" alt="">
      </div>
        <form {% url 'assignment' %} id="user_form_submit" method="post">
        {% csrf_token %}
          <div class="row mb-3">
            <div class="col-6">
              <input type="text" onkeypress="return (event.charCode == 32 )||(event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" required name="name" placeholder="Enter Name" class="form-control" id="name1">

            </div>
            <div class="col-6">
              <input type="text" name="" placeholder="Enter Date" class="form-control" id="datepicker">
              <input type="date" style="display:none" required name="date" class="form-control" id="datepicker1">
                <small id="vn" style="display:none" class="text-danger">Please try again when you become 18+</small>
            </div>
          </div>
          <input type="email" required name="email"  placeholder="Enter Email"  class="form-control mb-3" id="email1">
          <input type="number" required name="number"  placeholder="Enter Number"  class="form-control mb-3" id="num">
          <div class="text-center">
          <button type="submit" id="sessionstoragebtn" class="btn-block btn mt-4 btn-outline-success ">SUBMIT</button>
          </div>
        </form>
    </div>
</div>



<script>
     
$(document).ready(function(){
  $("#sessionstoragebtn").click(function(){
    sessionStorage.setItem("name", $("#name1").val() );
    sessionStorage.setItem("email", $("#email1").val() );
    sessionStorage.setItem("number", $("#num").val() );
  })

  $("#name1").val(sessionStorage.getItem("name");)
  $("#email1").val(sessionStorage.getItem("email");)
  $("#num").val(sessionStorage.getItem("number");)
  
})
</script>
<script>


   $('#user_form_submit').submit(function() {
       $('#gif').show(); 
     });
   $('#datepicker').on('click', function () {
       $('#datepicker').hide(); 
       $('#datepicker1').show('slow'); 
     });
   $('#datepicker').on('input', function () {
       $('#datepicker').hide(); 
       $('#datepicker1').show('slow'); 
     });


   
</script>

   
{% endblock body %}

